{% extends "pplsite/base.html" %}
{% block content %}
    <article class="media content-section">
      <div class="media-body">
        <div class="article-metadata">
          <p class="article-content">Pulaha premier League is the cricket tournament of Pulaha Hall of Residence. Total number of teams and franchises are yet to be declared.</p>
        </div>
        
        <h2><a class="article-title" href="">{{ post.title }}</a></h2>
        <div class="article-metadata">
          <a class="mr-2" href="">Website Created by</a>
          <small class="text-muted">PK Singh</small>
        </div>
      </div>
    </article>
{% endblock content %}
