{% extends "pplsite/base.html" %}
{% load static %}
{% block content %}
  <div class="content-section">
    <div class="card bg-dark text-white">
      <img class="card-img" src="{% static 'pplsite/img/pulaha.jpeg' %}" alt="Card image">
      <div class="card-img-overlay">
        <h5 class="card-title">Registrations for the auction is open</h5>
      </div>
    </div>
  </div>
    <article class="media content-section">
      <div class="media-body">
        <div class="article-metadata">
          <p class="article-content">Pulaha premier League is the cricket tournament of Pulaha Hall of Residence. Total number of teams and franchises are yet to be declared.</p>
        </div>
        
        <h2><a class="article-title" href="">{{ post.title }}</a></h2>
      </div>
    </article>
    {% if is_paginated %}

      {% if page_obj.has_previous %}
        <a class="btn btn-outline-info mb-4" href="?page=1">First</a>
        <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.previous_page_number }}">Previous</a>
      {% endif %}

      {% for num in page_obj.paginator.page_range %}
        {% if page_obj.number == num %}
          <a class="btn btn-info mb-4" href="?page={{ num }}">{{ num }}</a>
        {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
          <a class="btn btn-outline-info mb-4" href="?page={{ num }}">{{ num }}</a>
        {% endif %}
      {% endfor %}

      {% if page_obj.has_next %}
        <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.next_page_number }}">Next</a>
        <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.paginator.num_pages }}">Last</a>
      {% endif %}

    {% endif %}
{% endblock content %}
